params {
    outdir = 'results'
    publish_dir_mode = 'copy'
    ref = 'data/nc_01644.gb'
}

process {
    withName: 'before_trim' {
        publishDir = [
            path: "${params.outdir}/before_trim",
            mode: "copy"
        ]
    }

    withName: 'after_trim' {
        publishDir = [
            path: "${params.outdir}/after_trim",
            mode: "copy"
        ]
    }
    withName: 'TRIMMOMATIC' {
        publishDir = [
            path: "${params.outdir}/trimmomatic",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY' {
        publishDir = [
            path: "${params.outdir}/variants",
            mode: "copy"
        ]
    }

    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: "${params.outdir}/consensus",
            mode: "copy"
        ]
    }

     withName: 'SNP_SITES' {
        publishDir = [
            path: "${params.outdir}/phylo",
            mode: "copy"
        ]
    }

    withName: 'IQTREE' {
        publishDir = [
            path: "${params.outdir}/tree",
            mode: "copy"
        ]
    }
}


docker.enabled = true

// includeConfig '../conf/base.config'
// includeConfig '../conf/modules.config'
